{% extends 'base.html' %}

{% block content %}

{% load static %}

    <!-- FAQS SECTION BEGINS -->
<div id="faqs"></div>
    <section class="faqs">
        <div class="faqsContent">
            <h1>Frequently Asked Questions</h1>
            <hr>
            <span class="bottomBorder"></span>
            <div id="accordion">
                <h3>1.Q: What insurance do you accept?</h3>
                <div>
                    <p>
                        We majorly accept almost all the PPO plans.
                    </p>
                </div>
                <h3>2.Q: Can you see me if I don’t have dental insurance?</h3>
                <div>
                    <p>
                        Sure. We have lots of self -pay patients, our fee schedule is very reasonable and we have in house dental plan for self-pay patients if you need lots of dental services, please call our office for the details. We also recommend you come for a consultation so we can make customized suggestions for your treatments and financial arrangements.
                    </p>
                </div>
                <h3>3.Q: How long can I usually get an appointment if I have tooth pain?</h3>
                <div>
                    <p>
                        We usually will try to arrange the emergencies on the same day if you call us before 12pm. Regular appointment will usually need to call us one week before depend the days and time you request.
                    </p>
                </div>
                <h3>4.Q: What should I expect for my first visit?</h3>
                <div>
                    <p>
                        During your first visit, you will need to fill out new patient form(you can also print them out online at home, fill them and bring them to our office). Our assistant will take some needed x-rays under your agreement, Our Doctor will then check your teeth and discuss with you about your treatment plan. Then it’s up to you to decide when to have the services.
                    </p>
                </div>
                <h3>5.Q: Do you see kids?</h3>
                <div>
                    <p>
                        Yes, we see all ages of kids. Our youngest patient is less than 2 years old. As a mother of three, Dr. Chen is always very patient with young kids.
                    </p>
                </div>
				<h3>6.Q: Do you accept Medicare and Medicaid?</h3>
                <div>
                    <p>
                        Unfortunately, we don't accept Medicare and Medicaid now. But we do offer 5-10%.
                    </p>
                </div>
				<h3>7.Q: What forms of payment do you accept?</h3>
                <div>
                    <p>
                        We accept cash, check, Visa and Mastercard.
                    </p>
                </div>
				<h3>8.Q: Does your staff speak Chinese?</h3>
                <div>
                    <p>
                        Yes, most of our staff speaks Chinese. All of our doctors have dual dental degree from China and America.
                    </p>
                </div>
				<h3>How is Chao Pinhole&reg; Surgical Technique performed?</h3>
                <div>
                    <p>
                        During the Chao Pinhole&reg; Surgical Technique, a needle is used to make a small hole in the patient's existing gum tissue. Through this pinhole, special instruments are used to gently loosen the gum tissue. These tools help expand and slide the gumline to cover the exposed root structure.

                        There are no grafts, no sutures, and no incisions needed with the Chao Pinhole&reg; Surgical Technique. It simply involves the adjustment of the existing tissue.
                    </p>
                </div>
				<h3>How is Chao Pinhole&reg; Surgical Technique performed?</h3>
                <div>
                    <p>
                        During the Chao Pinhole&reg; Surgical Technique, a needle is used to make a small hole in the patient's existing gum tissue. Through this pinhole, special instruments are used to gently loosen the gum tissue. These tools help expand and slide the gumline to cover the exposed root structure.

                        There are no grafts, no sutures, and no incisions needed with the Chao Pinhole&reg; Surgical Technique. It simply involves the adjustment of the existing tissue.
                    </p>
                </div>
				<h3>How is Chao Pinhole&reg; Surgical Technique performed?</h3>
                <div>
                    <p>
                        During the Chao Pinhole&reg; Surgical Technique, a needle is used to make a small hole in the patient's existing gum tissue. Through this pinhole, special instruments are used to gently loosen the gum tissue. These tools help expand and slide the gumline to cover the exposed root structure.

                        There are no grafts, no sutures, and no incisions needed with the Chao Pinhole&reg; Surgical Technique. It simply involves the adjustment of the existing tissue.
                    </p>
                </div>
				<h3>How is Chao Pinhole&reg; Surgical Technique performed?</h3>
                <div>
                    <p>
                        During the Chao Pinhole&reg; Surgical Technique, a needle is used to make a small hole in the patient's existing gum tissue. Through this pinhole, special instruments are used to gently loosen the gum tissue. These tools help expand and slide the gumline to cover the exposed root structure.

                        There are no grafts, no sutures, and no incisions needed with the Chao Pinhole&reg; Surgical Technique. It simply involves the adjustment of the existing tissue.
                    </p>
                </div>
				<h3>How is Chao Pinhole&reg; Surgical Technique performed?</h3>
                <div>
                    <p>
                        During the Chao Pinhole&reg; Surgical Technique, a needle is used to make a small hole in the patient's existing gum tissue. Through this pinhole, special instruments are used to gently loosen the gum tissue. These tools help expand and slide the gumline to cover the exposed root structure.

                        There are no grafts, no sutures, and no incisions needed with the Chao Pinhole&reg; Surgical Technique. It simply involves the adjustment of the existing tissue.
                    </p>
                </div>
				<h3>How is Chao Pinhole&reg; Surgical Technique performed?</h3>
                <div>
                    <p>
                        During the Chao Pinhole&reg; Surgical Technique, a needle is used to make a small hole in the patient's existing gum tissue. Through this pinhole, special instruments are used to gently loosen the gum tissue. These tools help expand and slide the gumline to cover the exposed root structure.

                        There are no grafts, no sutures, and no incisions needed with the Chao Pinhole&reg; Surgical Technique. It simply involves the adjustment of the existing tissue.
                    </p>
                </div>
				<h3>How is Chao Pinhole&reg; Surgical Technique performed?</h3>
                <div>
                    <p>
                        During the Chao Pinhole&reg; Surgical Technique, a needle is used to make a small hole in the patient's existing gum tissue. Through this pinhole, special instruments are used to gently loosen the gum tissue. These tools help expand and slide the gumline to cover the exposed root structure.

                        There are no grafts, no sutures, and no incisions needed with the Chao Pinhole&reg; Surgical Technique. It simply involves the adjustment of the existing tissue.
                    </p>
                </div>
                <h3>What are the benefits of Chao Pinhole&reg; Surgical Technique?</h3>
                <div>
                    <p>
                        The benefits of the Chao Pinhole&reg; Surgical Technique are many:
                        <ul>
                            <li>Less Discomfort for the patient after treatment.</li>
                            <li>Faster recovery for the patient than traditional grafting.</li>
                            <li>No need for uncomfortable sutures.</li>
                            <li>No need for scalpels or invasive surgical tools.</li>
                            <li>No need to take donor tissue from the patients palate.</li>
                            <li>Excellent, natural-looking, long-lasting results.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQS SECTION ENDS -->

{% endblock %}