{% extends 'base.html' %}

{% block content %}

{% load static %}

    <!-- FAQS SECTION BEGINS -->
<div id="faqs"></div>
    <section class="faqs">
        <div class="faqsContent">
            <h1>Frequently Asked Questions</h1>
            <span class="bottomBorder"></span>
            <div id="accordion">
                <h3>What is gum recession?</h3>
                <div>
                    <p>
                        Gum recession refers to the loss of gum tissue along the gumline. This can occur as a result of periodontal disease (gingivitis, periodontitis, advanced periodontitis), the natural aging process, or abrasive habits when it comes to brushing the teeth.
                    </p>
                </div>
                <h3>Why should gum recession be taken seriously?</h3>
                <div>
                    <p>
                        When gum recession occurs, the root structure of the tooth becomes exposed. This means that tooth decay and other problems can affect the teeth along the gumline and beneath it. Since healthy gums are essential for a healthy mouth, getting gum recession treated is important for lasting dental wellness.
                    </p>
                </div>
                <h3>What is Chao Pinhole&reg; Surgical Technique?</h3>
                <div>
                    <p>
                        The Chao Pinhole&reg; Surgical Technique is a minimally invasive option for treating gum recession. Unlike traditional grafting techniques, PST is scalpel and suture free.<br>All of the tools and techniques used to perform the Chao Pinhole® Surgical Technique were created by Dr. John Chao.
                    </p>
                </div>
                <h3>How does Chao Pinhole&reg; Surgical Technique differ from traditional gum grafting?</h3>
                <div>
                    <p>
                        Traditional gum recession treatments involve the use of donor tissue or soft tissue grafts in order to rebuild the gumline. This soft tissue would be sutured in place and would join with existing gum tissue as it healed. While this traditional grafting treatment is effective, comparable results with better patient experience can be achieved through the Chao Pinhole&reg; Surgical Technique.
                    </p>
                </div>
                <h3>How is Chao Pinhole&reg; Surgical Technique performed?</h3>
                <div>
                    <p>
                        During the Chao Pinhole&reg; Surgical Technique, a needle is used to make a small hole in the patient's existing gum tissue. Through this pinhole, special instruments are used to gently loosen the gum tissue. These tools help expand and slide the gumline to cover the exposed root structure.

                        There are no grafts, no sutures, and no incisions needed with the Chao Pinhole&reg; Surgical Technique. It simply involves the adjustment of the existing tissue.
                    </p>
                </div>
                <h3>What are the benefits of Chao Pinhole&reg; Surgical Technique?</h3>
                <div>
                    <p>
                        The benefits of the Chao Pinhole&reg; Surgical Technique are many:
                        <ul>
                            <li>Less Discomfort for the patient after treatment.</li>
                            <li>Faster recovery for the patient than traditional grafting.</li>
                            <li>No need for uncomfortable sutures.</li>
                            <li>No need for scalpels or invasive surgical tools.</li>
                            <li>No need to take donor tissue from the patients palate.</li>
                            <li>Excellent, natural-looking, long-lasting results.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQS SECTION ENDS -->

{% endblock %}